Language: Cpp

BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignArrayOfStructures: Left
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
