Language: Cpp

BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignArrayOfStructures: Left
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
IncludeBlocks: Preserve
PointerAlignment: Right
ContinuationIndentWidth: 4